PyPDF2==3.0.1
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
streamlit
langchain
pdfplumber
langchain-community
google-generativeai
python-docx
faiss-cpu
python-dotenv
rarfile
langchain-google-genai
