PyPDF2
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
streamlit
langchain
google-generativeai
python-docx
faiss-cpu
python-dotenv
pydantic>=1.10,<2.0
langchain_core  
langchain-google-genai
